<div *ngIf="topic">
  <h2>{{topic.label}}</h2>
  <input #name type="text" value="{{topic.label}}" (keyup.enter)="updateName(name.value)">
  <h3>Contest</h3>
  <ul *ngIf="contest" class="contest">
    <li *ngFor="let option of contest" (click)="selectWinner(option)">
      {{option.label}}
    </li>
  </ul>

  <h3>Top Options</h3>
  <ol *ngIf="top_rankings">
    <li *ngFor="let option of top_rankings">
      {{option.label}}
    </li>
  </ol>

  <h3>Option List</h3>
  <ul *ngIf="options">
    <li *ngFor="let option of options">
      {{option.label}}
    </li>
  </ul>
</div>
