<div *ngIf="topic">
  <h2>{{topic.label}}</h2>
  <input #name type="text" value="{{topic.label}}" (keyup.enter)="updateName(name.value)">
  <button (click)="updateName(name.value)">Rename</button>

  <div [hidden]="confirmingDelete">
      <button (click)="confirmingDelete = true">Delete?</button>
  </div>
  <div [hidden]="!confirmingDelete">
      <hr />
      Are you sure?
      <button (click)="delete()">Yes</button>
      <button (click)="confirmingDelete = false">Cancel</button>
      <hr />
  </div>

  <div *ngIf="contest">
    <h3>Contest</h3>
    <ul class="contest">
      <li *ngFor="let option of contest" (click)="selectWinner(option)">
        {{option.label}}
      </li>
    </ul>
  </div>

  <h3>Top Options</h3>
  <ol *ngIf="top_rankings">
    <li *ngFor="let option of top_rankings">
      {{option.label}}
    </li>
  </ol>

  <h3>Option List</h3> <a [routerLink]="['/topics', topic.id, 'options']">Edit</a>
  <ul *ngIf="options">
    <li *ngFor="let option of options">
      {{option.label}}
    </li>
  </ul>
</div>
